@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    scroll-behavior: smooth;
  }

.anton {
    font-family: "Anton", sans-serif;
}

.kanit {
    font-family: "Kanit", sans-serif;
}

.triangle-bg {
    background-color: #111;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 65% 100%, 0 100%);
}
.triangle-bg-1 {
    clip-path: polygon(0 0, 100% 0, 100% 65%, 65% 100%, 0 100%);
}
.triangle-bg-2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%, 0 65%);
}
    